body{
    padding: 0;
    margin: 0;
}
.top{
    background: url(../images/topbg.jpg) center center repeat;
    height: 180px;
}
.navigation{
    position: relative;
    float: right !important;
}
.logo{
    position: relative;
    float: left !important;
}